[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=USER
Group=www-data
WorkingDirectory=WORKDIR
ExecStart=GUNICORNDIR \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          myproject2.wsgi:application

[Install]
WantedBy=multi-user.target
